* {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
}

body {
    overflow: hidden;
    background: white;
}

p {
    line-height: 130%;
    clear: both;
    margin: 1em 0;
}

#head {
    background-color: rgba(0, 0, 0, 0.85);
    width: 100%;
    min-width: 325px;
    z-index: 165;
}

#head a {
    display: block;
    font-weight: bolder;
    text-decoration: none;
}

#head a:hover {
    color: white;
    background-color: rgba(255, 30, 8, 0.43);
}

#head #userinfo {
    white-space: nowrap;
    text-align: center;
    position: absolute;
    color: rgb(255, 255, 255);
    line-height: 50px;
    padding: 0 20px;
    font-size: 17px;
    right: 8px;
    top: 3px;
    z-index: 219;
}

/* 特殊字体 https://developers.google.com/fonts/docs/getting_started?hl=zh-CN&csw=1 */
#head #app {
    font-family: "Kaushan Script", "Microsoft Yahei", sans-serif;
    font-size: 36px;
    text-shadow: 4px 4px 4px #aaa;
    color: blue;
}

#upload {
    min-width: 300px;
    width: 98%;
    position: relative;
    margin: 0 auto;
}

table {
    border-spacing: 0px;
}

#callback {
    font-family: sans-serif;
    /* min-width: 100px; */
    margin-top: 1px;
    margin-bottom: 5px;
    margin-left: 10px; /*补input的-10px left*/
}

#callback input {
    width: 100%; /*需要把padding左右设置为0*/
}

#callback td {
    position: relative;
}

#callback input, #callback .button {
    font-weight: bolder;
    padding-top: 10px;
    padding-bottom: 8px;
    border: none;
    box-shadow: 0 0 2px #6a6a6a inset;
}

#callback .button {
    display: inline-block;
    width: 75px;
    color: white;
    background: #00aee1;
    text-align: center;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

#callback input {
    color: #919191;
    margin-left: -10px;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

#editable {
    cursor: pointer;
    min-height: 300px;
    /*background: rgba(196, 168, 121, 0.51);
    border: 1px dashed blue;*/
    margin: 10px 0;
    padding: 20px;
    text-align: center;
}

#editable img {
    max-width: 80%;
}

#editable:hover {
    background: #aaaaaa;
}

#editable:focus {
    filter: alpha(opacity=50); /*IE滤镜，透明度50%*/
    -moz-opacity: 0.5; /*Firefox私有，透明度50%*/
    opacity: 0.5; /*其他，透明度50%*/
}

#editable.enable {
    background: #00a0ea;
}

#editable.disabled {
    background: #cccccc;
}



